<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div class="generic_container">
            <h4>Originally Posted on <span class="timestamp">{{createdAt}}</span></h4>
            <h4>Last Edited on <span class="timestamp">{{updatedAt}}</span></h4>

            {{#if admin_access}}
                <form action="/blog/edit-post" method="post" >
                    <input type="hidden" name="post_id" value={{post_id}}>
                    <label for="post_title" >Post Title:</label>
                    <input type="text" id="post_title" name="post_title" value="{{title}}" autocomplete="off">
                    <label for="post_body" >Post Body:</label>
                    <textarea id="post_body" name="body" autocomplete="off" >{{body}}</textarea>
                    <input type="submit" class="fancy_button"  value="Edit Article">
                </form>
            {{else}}
                <div>
                    {{{body}}}
                </div>
            {{/if}}
        </div>

        <div class="generic_container">
            <form action="/blog/comment" method="post" class="subcontainer" >
                <input type="hidden" name="post_id" value={{post_id}}>
                <label for="comment_body" >Let me have it:</label>
                <textarea name="comment_body" id="comment_body" autocomplete="off" rows="3" ></textarea>
                <input type="submit" class="fancy_button"  value="Preach!!">
            </form>

            <div class="subcontainer">
                {{#each comments}}
                    <div class="avatar_container">
                        <img src={{this.avatar}} class="avatar">
                    </div>
                    <h3>{{this.account_name}}</h3>
                    <h4 class="timestamp" >{{this.createdAt}}</h4>
                    <p >{{this.body}}</p>
                    <br>
                {{/each}}
            </div>
        </div>        

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.js"></script>
        <script src="/js/timestamp-format.js"></script>
    </body>
</html>