{{>head}}
<body>
<!-- container section start -->
<section id="container" class="">
{{>header}}
{{>sidebar}}

  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa fa-bars"></i> Home</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          </ol>
        </div>
      </div>
      


        <div id="draft_lobby_main_content">
            <div>
                <h2>Drafters</h2>
                {{#each drafters}}
                    <div class="avatar_container" >
                        <img src={{this.avatar}} class="avatar">
                    </div>
                    <p>
                        {{this.account_name}}
                    </p>
                {{/each}}
            </div>

            <div>
                <h2>{{message}}</h2>

                {{#if finished}}
                    {{#each monocolor_arrays}}
                        {{#if this.cards.length}}
                            <div >
                                <h3 >{{@key}} ({{this.cards.length}})</h3>
                                {{#each this.cards}}
                                    <img src={{this.image}}  />
                                    {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#each multicolor_arrays}}
                        {{#if this.cards.length}}
                            <div >
                                <h3 >{{@key}} ({{this.cards.length}})</h3>
                                {{#each this.cards}}
                                    <img src={{this.image}}  />
                                    {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#if colorless_arrays.cards.length}}
                        <div >
                            <h3 >Colorless ({{colorless_arrays.cards.length}})</h3>
                            {{#each colorless_arrays.cards}}
                                <img src={{this.image}}  />
                                {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                {{/if}}

                {{#each cards}}
                    <button value={{this._id}} data-card_name="{{this.name}}" class="image_as_button" onclick="draftCard()">
                        <img src={{this.image}}  />
                        {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                    </button>
                {{/each}}
            </div>
        </div>
      </section>
    </section>    
    </section>


    {{>footer}}
    {{>foot}}


      
  