<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
        {{#if refresh}}<meta http-equiv="refresh" content="4" />{{/if}}
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div id="draft_lobby_main_content">
            <div>
                <h2>Drafters</h2>
                {{#each drafters}}
                    <div class="avatar_container" >
                        <img src={{this.avatar}} class="avatar">
                    </div>
                    <p>
                        {{this.account_name}}
                    </p>
                {{/each}}
            </div>

            <div>
                <h2>{{message}}</h2>

                {{#if finished}}
                    {{#each monocolor_arrays}}
                        {{#if this.cards.length}}
                            <div >
                                <h3 >{{@key}} ({{this.cards.length}})</h3>
                                {{#each this.cards}}
                                    <img src={{this.image}}  />
                                    {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#each multicolor_arrays}}
                        {{#if this.cards.length}}
                            <div >
                                <h3 >{{@key}} ({{this.cards.length}})</h3>
                                {{#each this.cards}}
                                    <img src={{this.image}}  />
                                    {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#if colorless_arrays.cards.length}}
                        <div >
                            <h3 >Colorless ({{colorless_arrays.cards.length}})</h3>
                            {{#each colorless_arrays.cards}}
                                <img src={{this.image}}  />
                                {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                {{/if}}

                {{#each cards}}
                    <button value={{this._id}} data-card_name="{{this.name}}" class="image_as_button" onclick="draftCard()">
                        <img src={{this.image}}  />
                        {{#if this.back_image}}<img src={{this.back_image}}  />{{/if}}
                    </button>
                {{/each}}
            </div>
        </div>

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/draft-lobby.js"></script>
    </body>
</html>