<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
        {{#if refresh}}<meta http-equiv="refresh" content="4" />{{/if}}
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div id="draft_lobby_main_content">
            <div>
                <h2 style="text-align: center; text-decoration: underline;">Drafters</h2>
                {{#each drafters}}
                    <div class="avatar_container" style="border-color: rgb(0,0,0) !important; float: none !important; height: 10vw; margin: 0 auto !important; width: 10vw;">
                        <img src={{this.avatar}} class="avatar">
                    </div>
                    <p style="text-align: center; text-indent: 0; clear: left; font-weight: bold;">
                        {{this.account_name}}
                    </p>
                {{/each}}
            </div>

            <div style="padding-left: 0.65vw; padding-right: 0.65vw;">
                <h2>{{message}}</h2>

                {{#if finished}}
                    {{#each selections_as_color_arrays}}
                        {{#if this.length}}
                            <div style="border: none; padding-left: 0.65vw; padding-right: 0.65vw;">
                                <h3 style="margin-bottom: 0.325vw; margin-left: 0; margin-top: 0.325vw; text-align: center;">{{@key}} ({{this.length}})</h3>
                                {{#each this}}
                                    <img src={{this.image}} height="285px" />
                                    {{#if this.back_image}}<img src={{this.back_image}} height="285px" />{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                {{/if}}

                {{#each cards}}
                    <button value={{this._id}} data-card_name="{{this.name}}" class="image_as_button" onclick="draftCard()">
                        <img src={{this.image}} height="100%" />
                        {{#if this.back_image}}<img src={{this.back_image}} height="100%" />{{/if}}
                    </button>
                {{/each}}
            </div>
        </div>

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/draft-lobby.js"></script>
    </body>
</html>