<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/e3b2b11911.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        {{>card_hover}}
        {{>terminology}}

        <div class="generic_container">
            <a href="/cubes/view-cube?cube_id={{cube_id}}&cube_component=main_board" style="float: right;">Back to View Mode</a>
            <form action="/cubes/edit-cube/change-cube-info" method="post" id="cube_info_form" onsubmit="event.preventDefault()">
                <input type="hidden" name="cube_id" value={{cube_id}}>
                <label for="cube_name" style="display: block; font-weight: bold;">Cube Name:</label>
                <input type="text" name="cube_name" id="cube_name" value="{{cube_name}}" required autocomplete="off" onchange="submitCubeInfoChange()">
                <label for="cube_description" style="display: block; font-weight: bold;">Cube Description:</label>
                <textarea name="cube_description" id="cube_description" autocomplete="off" maxlength="300" rows="5" cols="60" onchange="submitCubeInfoChange()">{{cube_description}}</textarea>
            </form>
        </div>

        <div class="generic_container two_column">
            <form action="/cubes/edit-cube" method="get" id="switch_component_form">
                <div class="component_indicator">Currently Editing {{component_name}}</div>
                <label for="cube_component">Switch To:</label>
                <select name="cube_component" id="cube_component" value={{cube_component}} style="width: 21em;" onchange="changeViewedComponent()">
                    <option value="main_board" {{#if main_board_selected}}selected{{/if}}>Main Board</option>
                    {{!-- <option value="side_board">Side Board</option> --}}
                    {{#each modules}}
                        <option value={{this._id}} data-component_type="module" {{#if this.selected}}selected{{/if}}>{{this.module_name}} (Module)</option>
                    {{/each}}
                    {{#each rotations}}
                        <option value={{this._id}} data-component_type="rotation" {{#if this.selected}}selected{{/if}}>{{this.rotation_name}} (Rotation)</option>
                    {{/each}}
                </select>
            </form>

            {{#if delete_option}}
                <div>
                    <form action="/cubes/edit-cube/rename-component" method="post" id="rename_component_form" onsubmit="event.preventDefault()">
                        <input type="hidden" name="cube_id" value={{cube_id}}>
                        <input type="hidden" name="cube_component" value={{cube_component}}>
                        <label for="changed_component_name">Rename Component: </label>
                        <input type="text" name="changed_component_name" id="changed_component_name" value="{{component_name}}" maxlength="30" onchange="submitComponentChange()">
                    </form>
                    <form action="/cubes/edit-cube/delete-component" method="post" id="delete_component_form" onsubmit="verifyDelete()">
                        <input type="hidden" name="cube_id" value={{cube_id}}>
                        <input type="hidden" name="cube_component" value={{cube_component}}>
                        <input type="submit" class="fancy_button" value="Delete {{component_name}}">
                    </form>
                </div>
            {{else}}
                <div>
                    {{!-- empty div to keep things in position if main board is selected --}}
                </div>
            {{/if}}

            <form action="/cubes/edit-cube/add-module" method="post" id="add_module_form" autocomplete="off" onsubmit="submitAddModule()">
                <input type="hidden" name="cube_id" value={{cube_id}}>
                <label for="module_to_add"><i class="fas fa-info-circle" onmouseover="explainModules()" onmouseout="clearTerm()"></i> Create New Module: </label>
                <input type="text" name="module_to_add" id="module_to_add" maxlength="30" required>
                <input type="submit" class="fancy_button" value="Add it!">
            </form>

            <form action="/cubes/edit-cube/add-rotation" method="post" id="add_rotation_form" autocomplete="off" onsubmit="submitAddRotation()">
                <input type="hidden" name="cube_id" value={{cube_id}}>
                <label for="rotation_to_add"><i class="fas fa-info-circle" onmouseover="explainRotations()" onmouseout="clearTerm()"></i> Create New Rotation: </label>
                <input type="text" name="rotation_to_add" id="rotation_to_add" maxlength="30" required>
                <input type="submit" class="fancy_button" value="Add it!">
            </form>
        </div>

        <form action="/cubes/edit-cube/add-card" method="post" id="add_card" class="generic_container" autocomplete="off" onsubmit="submitAddCard()">
            <label for="card_to_add">Add Card to {{component_name}}: </label>
            <input type="text" name="card_to_add" id="card_to_add" list="card_results" style="width: 21em;" onkeyup="scryfallCardSearch()" onchange="scryfallPrintSearch()" required>
            <datalist id="card_results">
            <!-- the search results from scryfall will populate here -->
            </datalist>
            <label for="selected_printing">Printing: </label>
            <select name="selected_printing" id="selected_printing" style="width: 5em;" required>
            <!-- the available printings will populate here -->
            </select>
            <input type="hidden" name="cube_id" value={{cube_id}}>
            <input type="hidden" name="cube_component" value={{cube_component}}>
            <input type="hidden" name="cmc" id="cmc">
            <input type="hidden" name="image" id="image">
            <input type="hidden" name="back_image" id="back_image">
            <input type="hidden" name="loyalty" id="loyalty">
            <input type="hidden" name="mana_cost" id="mana_cost">
            <input type="hidden" name="oracle_id" id="oracle_id">
            <input type="hidden" name="power" id="power">
            <input type="hidden" name="purchase_link" id="purchase_link">
            <input type="hidden" name="toughness" id="toughness">
            <input type="hidden" name="type_line" id="type_line">
            <input type="submit" class="fancy_button" value="Add it!">
            <!-- the card's color identity will populate here -->
        </form>

        {{>pagination}}

        <table width="100%">
            <tr class="header_row">
                <th width="25%">Card Name</th>
                <th width="20%">Color Identity</th>
                <th width="8%">CMC</th>
                <th width="12%">Set Name</th>
                <th width="25%">Move To / Delete</th>
                <th width="10%">Purchase</th>
            </tr>
            {{#each component}}
            <tr>
                <td onmouseover="displayImage()" onmouseout="clearImage()">
                    {{this.name}}
                    <img src="{{this.image}}" style="display: none;">
                    {{#if this.back_image}}<img src="{{this.back_image}}" style="display: none;">{{/if}}
                </td>
                <td>
                    <form action="/cube/edit-cube/change-color-identity" method="post">
                        <input type="hidden" name="cube_id" value={{../cube_id}}>
                        <input type="hidden" name="card_id" value={{this._id}}>
                        <input type="hidden" name="cube_component" value={{../cube_component}}>
                        <input type="checkbox" name="W" value="W" {{#if this.W}}checked{{/if}} onchange="submitColorIdentityChange()"><label class="color_label">W</label>
                        <input type="checkbox" name="U" value="U" {{#if this.U}}checked{{/if}} onchange="submitColorIdentityChange()"><label class="color_label">U</label>
                        <input type="checkbox" name="B" value="B" {{#if this.B}}checked{{/if}} onchange="submitColorIdentityChange()"><label class="color_label">B</label>
                        <input type="checkbox" name="R" value="R" {{#if this.R}}checked{{/if}} onchange="submitColorIdentityChange()"><label class="color_label">R</label>
                        <input type="checkbox" name="G" value="G" {{#if this.G}}checked{{/if}} onchange="submitColorIdentityChange()"><label class="color_label">G</label>
                    </form>
                </td>
                <td>
                    <form action="/cubes/edit-cube/change-cmc" method="post">
                        <input type="hidden" name="cube_id" value={{../cube_id}}>
                        <input type="hidden" name="card_id" value={{this._id}}>
                        <input type="hidden" name="cube_component" value={{../cube_component}}>
                        <input type="number" name="changed_cmc" min="0" max="16" step="1" value={{this.cmc}} onchange="submitCmcChange()">
                    </form>
                </td>
                <td>
                    <form action="/cubes/edit-cube/change-set" method="post">
                        <input type="hidden" name="cube_id" value={{../cube_id}}>
                        <input type="hidden" name="card_id" value={{this._id}}>
                        <input type="hidden" name="cube_component" value={{../cube_component}}>
                        <input type="hidden" name="changed_image">
                        <input type="hidden" name="changed_back_image">
                        <input type="hidden" name="changed_purchase_link">
                        <button type="button" class="lock" onclick="enablePrintChange()"><i class="fas fa-lock"></i></button>
                        <select name="changed_printing" class="changed_printing" value={{this.set}} style="width: 5em;" data-oracleID={{this.oracle_id}} data-currentSet={{this.set}} onchange="submitPrintChange()" disabled>
                            <option value={{this.set}}>{{this.set}}</option>
                        <!-- the available printings will populate here -->
                        </select>
                    </form>
                </td>
                <td>
                    <form action="/cubes/edit-cube/change-component" method="post">
                        <input type="hidden" name="cube_id" value={{../cube_id}}>
                        <input type="hidden" name="card_id" value={{this._id}}>
                        <input type="hidden" name="current_cube_component" value={{../cube_component}}>
                        <select name="new_cube_component" value={{../cube_component}} style="width: 21em;" onchange="genericSubmit()">
                            <option value="main_board" {{#if ../main_board_selected}}selected{{/if}}>Main Board</option>
                            {{!-- <option value="side_board">Side Board</option> --}}
                            {{#each ../modules}}
                                <option value={{this._id}} {{#if this.selected}}selected{{/if}}>{{this.module_name}} (Module)</option>
                            {{/each}}
                            {{#each ../rotations}}
                                <option value={{this._id}} {{#if this.selected}}selected{{/if}}>{{this.rotation_name}} (Rotation)</option>
                            {{/each}}
                            <option value="delete_from_cube">Delete From Cube</option>
                        </select>
                    </form>
                </td>
                <td>
                    {{#if this.purchase_link}}
                        <a href="{{this.purchase_link}}" target="_blank">Buy It Now!</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>

        {{>pagination}}

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/form-submissions.js"></script>
        <script src="/js/image-preview.js"></script>
        <script src="/js/scryfall-requests-ajax.js"></script>
        <script src="/js/terminology.js"></script>
    </body>
</html>