<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <h2>Howdy, {{account_name}}!</h2>

        
        <form action="/users/search-users" method="get">
            Find a New Bud!<br>
            <label for="account_name">Account Name: </label>
            <input type="text" name="account_name" id="account_name" style="width: 21em;" autocomplete="off" required>
            <input type="submit" value="Search!">
        </form>

        <div id="relationship_container">
            <div>
                <table width="100%">
                    <tr class="header_row">
                        <th>Your Buds</th>
                    </tr>
                    {{#each buds}}
                    <tr>
                        <td>
                            <div class="avatar_container" style="height: 100px; width: 100px;">
                                <img src={{this.avatar}} class="avatar">
                            </div>
                            {{this.account_name}}
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            <div>
                <table width="100%">
                    <tr class="header_row">
                        <th width="60%">Aspiring Buds</th>
                        <th width="40%">Respond</th>
                    </tr>
                    {{#each aspiring_buds}}
                    <tr>
                        <td>
                            <div class="avatar_container" style="height: 100px; width: 100px;">
                                <img src={{this.avatar}} class="avatar">
                            </div>
                            {{this.account_name}}
                        </td>
                        <td>
                            <form action="/users/respond-bud-request" method="post">
                                <input type="hidden" name="aspiring_bud_id" value={{this._id}}>
                                <button type="submit" class="button_as_link" name="response" value="accept">Accept!</button>
                                <button type="submit" class="button_as_link" name="response" value="reject">Reject!</button>
                                <button type="submit" class="button_as_link" name="response" value="block">Block!</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            <div>
                <table width="100%">
                    <tr class="header_row">
                        <th>Pending Buds</th>
                    </tr>
                    {{#each pending_buds}}
                    <tr>
                        <td>
                            <div class="avatar_container" style="height: 100px; width: 100px;">
                                <img src={{this.avatar}} class="avatar">
                            </div>
                            {{this.account_name}}
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            <div>
                <table width="100%">
                    <tr class="header_row">
                        <th width="60%">Dicks</th>
                        <th width="40%">Un-dick</th>
                    </tr>
                    {{#each dicks}}
                    <tr>
                        <td>
                            <div class="avatar_container" style="height: 100px; width: 100px;">
                                <img src={{this.avatar}} class="avatar">
                            </div>
                            {{this.account_name}}
                        </td>
                        <td>
                            <form action="/users/undick" method="post">
                                <input type="hidden" name="dick_id" value={{this._id}}>
                                <input type="submit" class="button_as_link" value="Un-Dick!" />
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>