<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        {{>card_hover}}

        <div class="generic_container">
            {{#if creator_access}}
                <a href="/cubes/edit-cube?cube_id={{cube._id}}&cube_component={{cube_component}}&limit=50&skip=0">Edit this Cube!</a>
            {{/if}}
            <h2>Cube Name: {{cube.cube_name}}</h2>
            <h3>Cube Description:</h3>
            <p>{{cube.cube_description}}</p>
        </div>

        <form action="/cubes/view-cube" method="get" class="generic_container">
            <div class="component_indicator">Currently Viewing {{component_name}}</div>
            <input type="hidden" name="cube_id" value={{cube._id}}>
            <label for="cube_component">Switch To:</label>
            <select name="cube_component" value={{cube_component}}  onchange="genericSubmit()">
                <option value="main_board" {{#if main_board_selected}}selected{{/if}}>Main Board</option>
                <option value="sideboard" {{#if sideboard_selected}}selected{{/if}}>Sideboard</option>
                {{#each modules}}
                    <option value={{this._id}} {{#if this.selected}}selected{{/if}}>{{this.module_name}} (Module)</option>
                {{/each}}
                {{#each rotations}}
                    <option value={{this._id}} {{#if this.selected}}selected{{/if}}>{{this.rotation_name}} (Rotation)</option>
                {{/each}}
            </select>
        </form>

        <div id="cube_display">
            {{>cube_display}}
        </div>

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/image-preview.js"></script>
        <script src="/js/form-submissions.js"></script>
    </body>
</html>